<ion-view title="Authenticate">
    <ion-content padding="'true'" class="has-header">
        <h1>ATM Surfing</h1>
        <div class="spacer" style="width: 300px; height: 75px;"></div>
        <a menu-close="" href="#/businessplaces" class="button button-stable button-block button-large icon-left ion-social-google">Google Auth</a>
        <a menu-close="" href="#/businessplaces" class="button button-stable button-block button-large icon-left ion-social-facebook">Facebook Auth</a>
        <img src="img/X92RMhVLQnqNIlRlI74H_atm_surfing.png" width="100%" height="auto" style="width: 100%; height: auto;">
    </ion-content>
</ion-view>