<ion-view title="Status">
    <ion-content padding="'true'" class="has-header">
        <form class="list">
            <ion-toggle toggle-class="toggle-positive">Active</ion-toggle>
            <div>
                <p>Choose if you're
                    <strong>available</strong>to offer money</p>
            </div>
            <ion-item class="range range-positive">Amount
                <input type="range" value="50" min="0" max="200">
            </ion-item>
        </form>
        <div>
            <p>Maximum amount of money one can retrieve</p>
        </div>
        <div class="spacer" style="height: 100px;"></div>
        <button class="button button-light button-block ">Update</button>
    </ion-content>
</ion-view>